TENSORHUB_APP_ENV=development
TENSORHUB_DEBUG=true
TENSORHUB_DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/tensorhub
TENSORHUB_JWT_SECRET_KEY=change-me-in-production
TENSORHUB_COOKIE_SECURE=false
TENSORHUB_BOOTSTRAP_ADMIN_USERNAME=admin
TENSORHUB_BOOTSTRAP_ADMIN_PASSWORD=请联系作者
TENSORHUB_BOOTSTRAP_ADMIN_EMAIL=admin@tensorhub.dev
